* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #f0f2f5;
    display: flex;
    justify-content: center;

    min-height: 100vh;
    padding: 20px;
}

/* A4 সাইজের কন্টেইনার */
.a4-container {
    width: 21cm;
    height: 22.2cm;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 15px;
    position: relative;
}

/* প্রিন্ট স্টাইল */
@media print {
    body {
        background: none;
        padding: 0;
        margin: 0;
    }

    .a4-container {
        box-shadow: none;
        width: 100%;
        height: 100%;
        padding: 0 20px;
        margin: 0;
    }

    .no-print {
        display: none;
    }
}

.invoice-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.invoice-header .header__left {
    display: flex;
    gap: 20px;
}
.invoice-header .header__left .logo {
    width: 80px;
    height: auto;
}
.invoice-header .header__left .logo img {
    width: 100%;
    height: auto;
}

.company-info h1 {
    color: #2c3e50;
    font-size: 28px;
    margin-bottom: 5px;
    font-weight: 400;
}

.company-info p {
    color: #7f8c8d;
    font-size: 14px;
    line-height: 1.5;
}

.invoice-title h2 {
    color: #3498db;
    font-size: 32px;
    text-align: right;
}

.invoice-title p {
    color: #7f8c8d;
    text-align: right;
    margin-top: 5px;
}

.invoice-details {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

/* address  */
.address {
    display: flex;
    align-items: end;
    flex-direction: column;
    margin-bottom: 20px;
}
.invoice-details ul {
    list-style: none;
    width: 100%;
}
.invoice-details .details__item {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 7px;
}
.invoice-details .details__item .customer {
    display: flex;
    flex: 1;
    gap: 20px;
}
.invoice-details .details__item .customer p:first-child {
    width: 15%;
}
.invoice-details .details__item .customer__name {
    border-bottom: 1px solid #bdc3c7;
    padding-bottom: 1px;
    flex: 1;
    width: 100%;
}
.right {
    width: 35%;
    text-align: right;
}

.address p {
    font-size: 15px;
    color: #7f8c8d;
}

.items-table {
    width: 100%;
    border-collapse: collapse;
    margin: 0px 0 30px 0;
}

.items-table th {
    background-color: #626262;
    color: white;
    padding: 7px 15px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
}

.items-table td {
    padding: 7px 15px;
    border-bottom: 1px solid #ecf0f1;
    font-size: 14px;
    color: #505050;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.items-table tr td {
    border-bottom: 1px solid #b1aeae;
}
.items-table tr:nth-child(even) {
    background-color: #f8f9fa;
}

.totals-section {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.totals-section .conditions {
    width: 50%;
}
.totals-table {
    width: 50%;
    border-collapse: collapse;
}

.totals-table td {
    padding: 8px 15px;
    border-bottom: 1px solid #ecf0f1;
}

.totals-table tr:last-child {
    background-color: #2c3e50;
    color: white;
    font-weight: 700;
    font-size: 15px;
}

.print-btn {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #3498db;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}
.conditions h2 {
    color: #515252;
    font-weight: 400;
}
.conditions p {
    color: #7f8c8d;
    font-size: 14px;
}
.amount {
    margin-top: 20px;
}
.amount p {
    color: #515252;
}

.in-words {
    margin-bottom: 30px;
    margin-top: 30px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    text-align: center;
}

/* signature  */
.signature {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}
.signature .signature__left p {
    border-top: 1px solid black;
}
.signature .signature__right p {
    border-top: 1px solid black;
}

.print-btn:hover {
    background: #2980b9;
}

.footer {
    text-align: center;
    padding: 10px 0;
    /* background-color: #f0f2f5; */
    position: absolute;
    bottom: 0;
    width: 100%;
}
